body{
    background-color: #fff;
}
img{
    width: 19%;
    position: absolute;
 top: 30%;
 left: 22%;
    
}
h1{
    
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    position: absolute;
    top: 22%;
    left: 50%;
}
hr{
    width: 12.2%;
    border: 1.3px solid black;
    position: absolute;
    top: 50.9%;
    left: 22.5%;
}
h4{
 position: absolute;
 top: 50%;
 left: 22.5%;
 font-weight: 600;
 line-height: 10px;

}
fieldset{
    width: 23%;
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 30px;
    border-radius: 10px;
    height: 40%;
    box-shadow: 0px 0px 0px 4px black ;

}
.input1{
    height: 40px;
    border: 2px solid black;
    border-radius: 6px;
    width: 90%;
    margin-left: 15px;
   
    
}
.input2{
    height: 40px;
    border: 2px solid black;
    border-radius: 6px;
    width: 90%;
    margin-left: 15px;    
}
.label{
    font-size: 19px;
        font-family: 'Montserrat', sans-serif;
        margin-left: 16px;
}
.submit{
    width: 90%;
    height: 40px;
    border-radius: 6px;
    background-color: #1877f2 ;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 19px;
    letter-spacing: 0.5px;
    color: white;
    margin-left: 16px;
    margin-top: 20px;
}
div{
    margin-left: 10px;
}